# Phase 5: Run Interactions

Documentation: https://halllab.atlassian.net/wiki/spaces/IGEM/pages/84705288/Phase+5+Run+Regression

Points to check (with Nikki):
- Run skewness only to Phenotypes?
- Why she run the Survey to ECHO EAWS Analysis?

In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns
import igem

rpy2 ModuleSpec(name='rpy2', loader=<_frozen_importlib_external.SourceFileLoader object at 0x16ba29f30>, origin='/Users/andrerico/Works/Projects/pbs_igem/.venv/lib/python3.10/site-packages/rpy2/__init__.py', submodule_search_locations=['/Users/andrerico/Works/Projects/pbs_igem/.venv/lib/python3.10/site-packages/rpy2'])

### Read Source Data

In [2]:
# define the path to the data folder
path = Path().resolve()
path_data = path / "data"

In [3]:
# Read NHANES Data (with medications normalized to LDL and TC)
df_nhanes = igem.epc.load.from_csv(
    str(path_data) +  "/step_04_02_nhanes_data_with_medications.csv",
    index_col='ID'
    )
df_nhanes.index = df_nhanes.index.astype(int)
print(f"Start Run Interactions Process with: {len(df_nhanes)} records")

Loaded 55,206 observations of 918 variables
Start Run Interactions Process with: 55206 records

/Users/andrerico/Works/Projects/pbs_igem/.venv/lib/python3.10/site-packages/igem/epc/clarite/load/load.py:77: DtypeWarning: Columns (442,869) have mixed types.Specify dtype option on import or set low_memory=False.
  return clarite.load.from_csv(filename, index_col, **kwargs)

In [4]:
# Read Moldel (we need to clean interactions that is not in coluns list)
df_model = igem.epc.load.from_csv(str(path_data) + "/step_01_05_Models.csv") 
print(f"Start with: {len(df_model)} interactions")

Loaded 992,923 observations of 5 variables
Start with: 992923 interactions

### Session for processing identified interaction data (GE.db)

In [6]:
# Keep only interactions terms
df_model = igem.epc.modify.colfilter(
    df_model,
    only=['field_name_1', 'field_name_2']
    )

================================================================================
Running colfilter
--------------------------------------------------------------------------------
WARNING: 2 variables need to be categorized into a type manually
Keeping 2 of 2 variables:
	0 of 0 binary variables
	0 of 0 categorical variables
	0 of 0 continuous variables
	2 of 2 unknown variables
================================================================================

Note: A classification was performed to identify the fields in NHANES that were exposure factors, and we used these selected fields to search for relationships in IGEM.

With Nikki joining the project, she helped refine this list of exposure factors using the data filtered in GE.filter. The search for data in NHANES utilized the list of relevant exposures evaluated by Nikki, which is more restricted.

Therefore, the code below will retain interactions only if both terms are present in df_nhanes.

In [7]:
# Keep only interactions that are in the columns of df_nhanes
# Create a set of df_nhanes columns for quick checking
nhanes_columns = set(df_nhanes.columns)
# filter df_models to keep only interactions where both terms are in df_nhanes columns
df_models_filtered = df_model[df_model.apply(lambda row: row['field_name_1'] in nhanes_columns and row['field_name_2'] in nhanes_columns, axis=1)]
print(f"Now has {len(df_models_filtered)} interactions after filtering")
df_models_filtered.reset_index(drop=True, inplace=True)

Now has 213059 interactions after filtering

### Split Cohorts to LDL, TC and Triglycerides

LDL, Total-C and Triglycerides split in Discovery (1999-2008) and Replicate (2009-2018)

Note: The fields for LDL and Total Cholesterol have been adjusted to account for participants who use any medication to control cholesterol levels. This adjustment is documented in Phase 4.

In [8]:
list_covariates = ['RIDAGEYR', 'RIAGENDR', 'RIDRETH1', 'BMXBMI', 'Cycle']
list_phenotypes_wo_adj = ['LBDLDL', 'LBXTC']
list_phenotypes = ['LBDLDL_N', 'LBXTC_N', 'LBXSTR', 'LBDHDL', 'LBXHDD', 'LBDHDD']

# Define the list of exposes
excluded_columns = set(list_covariates + list_phenotypes + list_phenotypes_wo_adj)
list_exposes = [col for col in df_nhanes.columns if col not in excluded_columns]

In [9]:
# Function to check if columns exist in DataFrame
def columns_exist(df, cols):
    return all(col in df.columns for col in cols)

In [10]:
# DataFrame to collect results
df_results_discover_final = pd.DataFrame()
df_results_replicate_final = pd.DataFrame()
list_results_discover = []
list_results_replicate = []

#### Run ExE Interaction Analysis to LDL Phenotype

Defines Discovery and Replicate groups based on cycles.
Aligns both groups to have the same exposure factors.

In [11]:
# Note: In production, this block is inside the phenotype loop.
list_phenotypes = ['LBDLDL_N',]
for i_outcome in list_phenotypes:
    print(f"Start with: {i_outcome}")

Start with: LBDLDL_N

Note:  The sequence of instructions below is part of the loop initiated above. 
       For development and debugging purposes, the chain has been broken down.

The following code divides the NHANES data into two groups: discovery and replication. 

The discovery group consists of data from earlier cycles, while the replication group consists of data from later cycles.

For both df_nhanes_discovery and df_nhanes_replicate, the Cycle column is converted to a categorical type with a specified order.

Skip if the outcome is HDL-c / This will split in 3 cohorts

Check: https://halllab.atlassian.net/wiki/spaces/IGEM/pages/62619672/Different+HDL+Cholesterol+Codes+in+NHANES+LBDHDL+LBXHDD+LBDHDD

In [12]:
if i_outcome in ['LBDHDL', 'LBXHDD', 'LBDHDD']:
    ...
else:
    # Define discovery and replication cycles
    cycles_discovery = ['1999-2000', '2001-2002', '2003-2004', '2005-2006', '2007-2008']
    cycles_replicate = ['2009-2010', '2011-2012', '2013-2014', '2015-2016', '2017-2018']

    # Filter data for discovery and replication groups
    df_nhanes_discovery = df_nhanes[df_nhanes['Cycle'].isin(cycles_discovery)]
    df_nhanes_replicate = df_nhanes[df_nhanes['Cycle'].isin(cycles_replicate)]

    # Set the oder of cycles
    df_nhanes_discovery['Cycle'] = pd.Categorical(df_nhanes_discovery['Cycle'], categories=cycles_discovery, ordered=True)
    df_nhanes_replicate['Cycle'] = pd.Categorical(df_nhanes_replicate['Cycle'], categories=cycles_replicate, ordered=True)

In [13]:
# Filter the DataFrames to keep only the columns of interest
df_nhanes_discovery = df_nhanes_discovery[[i_outcome] + list_covariates + list_exposes].dropna(subset=[i_outcome])
df_nhanes_replicate = df_nhanes_replicate[[i_outcome] + list_covariates + list_exposes].dropna(subset=[i_outcome])

# Sync both DataFrames to have the same Exposure columns
# Drop columns with all NaN values in both DataFrames
df_nhanes_discovery = df_nhanes_discovery.dropna(axis=1, how='all')
df_nhanes_replicate = df_nhanes_replicate.dropna(axis=1, how='all')

# get the common columns
common_columns = df_nhanes_discovery.columns.intersection(df_nhanes_replicate.columns)

# filter both DataFrames to keep only the common columns
df_nhanes_discovery = df_nhanes_discovery[common_columns]
df_nhanes_replicate = df_nhanes_replicate[common_columns]

In [14]:
# check if both groups as the same number of columns
n_discovery_exe = len(df_nhanes_discovery.columns)
n_replicate_exe = len(df_nhanes_replicate.columns)
if n_discovery_exe != n_replicate_exe:
    # Raise an error if the number of columns is different
    print(f"Discovery has {n_discovery_exe} columns and Replicate has {n_replicate_exe} columns")
    print("Columns in Discovery but not in Replicate:")
    print(set(df_nhanes_discovery.columns) - set(df_nhanes_replicate.columns))
    print("Columns in Replicate but not in Discovery:")
    print(set(df_nhanes_replicate.columns) - set(df_nhanes_discovery.columns))
    print("Skipping this outcome")
    # continue
    ...
print(f"{n_discovery_exe} columns and {len(df_nhanes_discovery)} rows on discovery dataset")
print(f"{n_replicate_exe} columns and {len(df_nhanes_replicate)} rows on replicate dataset")

301 columns and 11453 rows on discovery dataset
301 columns and 12695 rows on replicate dataset

In [15]:
# Categories the columns types
df_nhanes_discovery = igem.epc.modify.categorize(df_nhanes_discovery)
df_nhanes_replicate = igem.epc.modify.categorize(df_nhanes_replicate)

================================================================================
Running categorize
--------------------------------------------------------------------------------
43 of 301 variables (14.29%) are classified as constant (1 unique value).
76 of 301 variables (25.25%) are classified as binary (2 unique values).
55 of 301 variables (18.27%) are classified as categorical (3 to 6 unique values).
116 of 301 variables (38.54%) are classified as continuous (>= 15 unique values).
0 of 301 variables (0.00%) were dropped.
11 of 301 variables (3.65%) were not categorized and need to be set manually.
	10 variables had between 6 and 15 unique values
	1 variables had >= 15 values but couldn't be converted to continuous (numeric) values
================================================================================
================================================================================
Running categorize
--------------------------------------------------------------------------------
41 of 301 variables (13.62%) are classified as constant (1 unique value).
89 of 301 variables (29.57%) are classified as binary (2 unique values).
39 of 301 variables (12.96%) are classified as categorical (3 to 6 unique values).
116 of 301 variables (38.54%) are classified as continuous (>= 15 unique values).
0 of 301 variables (0.00%) were dropped.
16 of 301 variables (5.32%) were not categorized and need to be set manually.
	15 variables had between 6 and 15 unique values
	1 variables had >= 15 values but couldn't be converted to continuous (numeric) values
================================================================================

Debug propose: Select two expose factores.

In [18]:
# Categories the columns types
df_nhanes_discovery = igem.epc.describe.get_types(df_nhanes_discovery)
df_nhanes_replicate = igem.epc.describe.get_types(df_nhanes_replicate)

WARNING: 11 variables need to be categorized into a type manually
WARNING: 16 variables need to be categorized into a type manually

In [19]:
df_nhanes_discovery.describe()

count            301
unique             5
top       continuous
freq             116
dtype: object

In [ ]:
#Calculate percent zero for continuous phenotypes 
# RETURNS ERROR
# df_nhanes_discovery = igem.epc.modify.colfilter_percent_zero(df_nhanes_discovery)

In [ ]:
#Get skewness values and histogram plots of the phenotypes
# RETURNS ERROR
# igem.epc.describe.skewness(df_nhanes_discovery, dropna='True')

#Plot histogram of phenotype and show skewness values
title = f"Discovery: Skew ADHD Age 1.5-5 = {df_nhanes_discovery['phe-ADHD Pre'].skew(axis = 0, skipna = True):.6}"
igem.epc.plot.histogram(df_nhanes_discovery, column="phe-ADHD Pre", title=title, bins=100)

###Log transform all phenotypes since the skewness values are greater than 0.5### 
dis_pheno_log_transform_pre = igem.epc.modify.transform(df_nhanes_discovery, 'log')


igem.epc.describe.skewness(dis_pheno_log_transform_pre, dropna='True')

In [46]:
e1 = "ALQ140Q"
e2 = "ALQ150"

# Check if columns exist in the DataFrame
if columns_exist(df_nhanes_discovery, [e1, e2]):
    # create a DataFrame with the columns of interest
    df_maintable_exe = df_nhanes_discovery.loc[:, list_covariates + [i_outcome, e1, e2]]
    print(f"Processed with: {e1} and {e2}")
else:
    print(f"Skipped: {e1} and/or {e2} not found")

print(len(df_maintable_exe))
print(e1, " - ", e2)
print(i_outcome)
print(list_covariates)
print(df_maintable_exe.dtypes)
print(df_maintable_exe.head())

Processed with: ALQ140Q and ALQ150
11453
ALQ140Q  -  ALQ150
LBDLDL_N
['RIDAGEYR', 'RIAGENDR', 'RIDRETH1', 'BMXBMI', 'Cycle']
RIDAGEYR     float64
RIAGENDR    category
RIDRETH1    category
BMXBMI       float64
Cycle       category
LBDLDL_N     float64
ALQ140Q      float64
ALQ150      category
dtype: object
       RIDAGEYR RIAGENDR RIDRETH1  BMXBMI      Cycle  LBDLDL_N  ALQ140Q ALQ150
ID
41479      52.0      1.0      1.0   27.56  2007-2008     121.0      3.0    2.0
41485      30.0      2.0      2.0   25.99  2007-2008     119.0      NaN    NaN
41486      61.0      2.0      1.0   31.21  2007-2008     110.0      NaN    NaN
41487      27.0      1.0      5.0   23.44  2007-2008     105.0      0.0    2.0
41489      40.0      2.0      1.0   36.59  2007-2008     106.0      3.0    2.0

In [41]:
Interation_Study = igem.epc.analyze.interaction_study(
        data=df_maintable_exe,
        outcomes=i_outcome,
        interactions=[(e1, e2)],
        covariates=list_covariates,
    )

InteractionRegression
-------------------------
Continuous Outcome (family = Gaussian): 'LBDLDL_N'
Using 11,453 of 11,453 observations
Regressing 2 variables
	0 binary variables
	1 categorical variables
	1 continuous variables
	0 genotypes variables
Processing 1 interactions
-------------------------
Running 1 interactions using 14 processes...

	Finished Running 1 interactions
0 tests had an error
Completed Interaction Study for LBDLDL_N

Completed association study

### Create the loop to process all the data.

In [43]:
list_results_discover.append(
    [
        Interation_Study.LRT_pvalue.index.levels[2][0],
        Interation_Study.LRT_pvalue.index.levels[0][0],
        Interation_Study.LRT_pvalue.index.levels[1][0],
        Interation_Study.Converged.values[0],
        Interation_Study.LRT_pvalue.values[0],
        Interation_Study.LRT_pvalue.values[0] * len(df_maintable_exe),
    ]
)

In [44]:
# Create a DataFrame with the results
df_results_discover = pd.DataFrame(
    list_results_discover,
    columns=[
        "Outcome", "Term1", "Term2", "Converged", "LRT_pvalue", "Bonfp"
        ],
)

In [45]:
df_results_discover

    Outcome    Term1   Term2  Converged  LRT_pvalue        Bonfp
0  LBDLDL_N  ALQ140Q  ALQ150       True    0.109112  1249.658862

ATORVASTATIN_CALCIUM", "SIMVASTATIN", "PRAVASTATIN_SODIUM", "FLUVASTATIN_SODIUM"